<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/article_scraper.css" type="text/css" />
		<title>Article Scraping!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>